
#baniere{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	width: 40%;
	margin-top: 5%;
	border-radius: 5px;
	overflow: hidden;
	float: left;
}
#descriptionEvent{
	clear: both;
	padding-top: 2%;
	text-align: center;
}
#baniere img{
	width: 100%;
}
#imgEvent{
	width:100%;
	background-color: rgba(0,0,0,0.8);
	height: 300px;
	text-align: center;
}
#imgEvent img{
	width: 80%;
	margin-top: 10%;
	cursor: pointer;
}
#info_event{
	width: 48%;
	margin-top: 5%;
	border-radius: 5px;
	padding:1%;
	float: right;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	background-color: rgba(0,0,0,0.8);
	margin-bottom: 7%;
}
#infoCreateur{
	margin-top: -5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgba(0,0,0,0.8);
	padding: 5px;
	padding-right: 0;
	padding-left: 0;
}
#info_event h2{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2%;
}
#description{
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	border-radius: 5px;
	clear: both;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
}
#lien{
	text-align: center;
	padding:10px;
}
#lien a{
	border-bottom: 1px solid white;
	padding:2px;
}
.container select{
	height: 30px;
	margin: 2%;
	margin-bottom: 0;
	border:none;
}
.info{
	margin-top: 2%;
}
#delete{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	padding: 1%;
	margin-top: 10%;
	position: absolute;
	width: 50%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	margin-left: 14%;
	border-radius: 5px;
	text-align: center;
	display: none;
}
#delete strong{
	width: 100%;
	display: block;
}
#affiche{
	visibility: hidden;
}
#infoModif{
	padding:5px;
	color:#A1C6FD;
	font-weight: bold;
}
.nbParticipant,#fileAttente{
	margin-top: 1%;
	padding: 25px;
	padding-right: 0;
	padding-left: 0;
	width: 70px;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	display: inline-block;
	float: left;
	cursor: pointer;
}
#amisAttente{
	clear: both;
	padding-top: 2%;
}
.no-avatar{
	width: 70px;
	height: 70px;
	vertical-align: top;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin:0;
	margin-top: 1%;
}
.no-avatar p{
	margin-top: 20%;
}
#description{
	padding-bottom: 50px;

}
#statusParticipation{
	color:#A1C6FD;
	font-weight: bold;
}
#imageBaniere{
	max-height: 300px;
	overflow: hidden;
	width: 100%;
}
.avatar{
	background-color: rgba(0,0,0,0.8);
	width: 70px;
	height: 70px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-top: 1%;
}
.avatar img{
	height: 120%;
}
#declineEvent{
	float: right;
}
#inviteFriends,#acceptUserPublic{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	padding: 1%;
	margin-top: 10%;
	position: absolute;
	width: 50%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	margin-left: 14%;
	border-radius: 5px;
	text-align: center;
	display: none;
}
.listInviteFriend,.acceptUserPublic{
	margin-top: 2%;
	width: 100%;
	text-align: justify;
	padding-left: 40%;
}
.listInviteFriend strong,.acceptUserPublic strong{
	margin-left: 5%;
	font-size: 1.2em;
}
#infoParticipation{
	color:#9bbff4;
}
#participantActuel{
	clear: both;
	padding-top: 2%;
}
#gestionInvite{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	padding: 1%;
	margin-top: 10%;
	position: absolute;
	width: 50%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	margin-left: 14%;
	border-radius: 5px;
	text-align: center;
	display: none;
}
#enattente,#userInvite{
	text-align: justify;
	display: inline-block;
	vertical-align: top;
	padding: 5%;
}
.listUserInvite{
	width: 100%;
	padding: 2%;
	border-bottom: 1px solid white;
	cursor: pointer;
}
.listUserInvite:hover{
	background-color: #9bbff4;
}
#gestionInvite h3{
	color:#9bbff4;
	margin-bottom: 5%;
}
#gestionInvite strong,#gestionInvite input{
	margin-top: 10px;
}
.avatarInvite{
	width: 35px;
	height: 35px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(0,0,0,0.8);
}
.avatarInvite img{
	width: 150%;
}
#commentEvent input{
	display: block;
	margin-top: 2%;
	width:50%;
	height: 40px;
	text-align: center;
	border:none;
	border-radius: 2px;
	margin: auto;
}