.container{
	width: 76%;
	padding: 5%;
	padding-left: 1%;
}
.container h2{
	padding: 1%;
	padding-top: 3%;
}
#baniere{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	width: 40%;
	margin-top: 5%;
	border-radius: 5px;
	overflow: hidden;
	float: left;
}
#baniere img{
	width: 100%;
}
#imgEvent{
	width:100%;
	background-color: rgba(0,0,0,0.8);
	height: 300px;
	text-align: center;
}
#imgEvent img{
	width: 80%;
	margin-top: 10%;
	cursor: pointer;
}
#info_event{
	width: 48%;
	margin-top: 5%;
	border-radius: 5px;
	padding:1%;
	float: right;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	background-color: #000F1C;
	margin-bottom: 2%;
}
#infoCreateur{
	margin-top: -5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #000F1C;
	padding: 5px;
	padding-right: 0;
	padding-left: 0;
}
#info_event h2{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2%;
}
#description{
	background-color: #000F1C;
	padding: 10px;
	border-radius: 5px;
	clear: both;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
}
#lien{
	text-align: center;
	padding:10px;
}
#lien a{
	border-bottom: 1px solid white;
	padding:2px;
}
.container select{
	height: 30px;
	margin: 2%;
	margin-bottom: 0;
	border:none;
}
.info{
	margin-top: 2%;
}
#delete{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	padding: 1%;
	margin-top: 10%;
	position: absolute;
	width: 50%;
	overflow: hidden;
	background-color: #000F1C;
	margin-left: 14%;
	border-radius: 5px;
	text-align: center;
	display: none;
}
#delete strong{
	width: 100%;
	display: block;
}
#affiche{
	visibility: hidden;
}
#infoModif{
	padding:5px;
	color:#A1C6FD;
	font-weight: bold;
}
#nbParticipant,#fileAttente{
	margin-top: 1%;
	padding: 25px;
	padding-right: 0;
	padding-left: 0;
	width: 70px;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	display: inline-block;

}
#description img,.avatar{
	display: inline-block;
	vertical-align: top;
}
#statusParticipation{
	color:#A1C6FD;
	font-weight: bold;
}
#imageBaniere{
	max-height: 300px;
	overflow: hidden;
	width: 100%;
}
.avatar{
	background-color: rgba(0,0,0,0.8);
}
.avatar img{
	width: 70px;
	height: 70px;
}
#declineEvent{
	float: right;
}