.container{
	width: 76%;
	padding: 5%;
	padding-left: 1%;
}
.container h2{
	padding: 1%;
	padding-top: 3%;
}
.before{
	display: inline-block;
background-image: url('../images/logo-event.jpg');
	display: inline-block;
	width: 16%;
	text-align: center;
	margin: 20px;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	padding-bottom: 1%;
	border-radius: 5px;
}
.before img{
	width: 100%;
	border-radius: 5px;
	z-index: -10;
}
.before h3{
	font-size: 1em;
}
.before strong{
	font-size: 0.8em;
}

.after{
	background-image: url('../images/logo-event.jpg');
	display: inline-block;
	width: 16%;
	margin: 20px;
	text-align: center;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	padding-bottom: 1%;
	border-radius: 5px;
}
.after img{
	width: 100%;
	border-radius: 5px;
	z-index: -10;
}
.after h3{
	font-size: 1em;
}
.after strong{
	font-size: 0.8em;
}
@media all and (max-width: 650px){
	.container{
		padding-top: 20%;
	}.after,.before{
		margin:1%;
	}
	#mainMenu img{
		width: 35%;
	}
	
}
@media all and (min-width: 650px) and (max-width: 800px){
	.after,.before{
		margin:1%;
	}
	#mainMenu img{
		width: 35%;
	}
}
@media all and (min-width: 800px) and (max-width: 1200px){
	
	.after,.before{
		margin:1%;
	}
	#mainMenu img{
		width: 25%;
	}
}
