*{
	margin:0;
	padding: 0;
}
body{
	background-color: #F2F2F2;
	font-family: calibri;
	color: white;
	background: url('../images/header.jpg') center 0 fixed;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    background-repeat: no-repeat;
}
a{
	text-decoration: none;
	color:white;

}
h1,h2,h3{
	text-shadow: 0 1px 0 #000;
}
#mainMenu{
	width: 100%;
	background-image:-webkit-linear-gradient(330deg, #000F1C, #000F1C);
	background-image:-o-linear-gradient(330deg, #000F1C, #000F1C);
	background-image:linear-gradient(60deg, #000F1C, #000F1C);
	height: 50px;
	position: fixed;
	z-index: 100;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	overflow: hidden;
}
#mainMenu img{
	float: left;
	height: 50px;
	margin-top: 5px;
	margin-left: 5%;
}
button:hover,button:hover{
	background-color:rgba(0,0,0,0);
	color: white;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.content{
	padding-top: 10%;
}
#register{
	background-color: rgba(0,0,0,0.8);
	width: 35%;
	float: left;
	margin-left: 10%;
	border-radius: 5px;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
#register a{
	display: block;
}
#register form{
	padding: 1%;
}
#register img{
	width: 50%;
}
#register input{
	display: block;
	width: 60%;
	margin-left: 20%;
	height: 30px;
	border:none;
	margin-top: 1%;
	border-radius: 2px;
	text-align: center;
}
button{
	height:30px;
	width:80px;
	background-color:#9bbef3;
    font-family: calibri;
    color:rgba(0,0,0,0.8);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 2%;
}
#troisDernierEvent{
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
	width: 35%;
	float: right;
	margin-right: 10%;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	text-align: center;
}
#connexion{
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
	width: 31%;
	float: right;
	margin-right: 10%;
	padding:2%;
	padding-bottom: 0;
	padding-top: 1%;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	text-align: center;
}
#connexion a{
	margin:3%;
}
#connexion input{
	width: 60%;
	margin-left: 20%;
	height: 30px;
	border:none;
	margin-top: 1%;
	border-radius: 2px;
	text-align: center;
	display: block;
}
.event{
	display: inline-block;
	background-color: rgba(0,0,0,0.6);
	vertical-align: top;
	width: 30%;
	height: 190px;
	text-align: center;
	margin: 20px;
	padding-bottom: 1%;
	border-radius: 5px;
	overflow: hidden;
}
.event img{
	height: 110%;
	z-index: -10;
}
.imgEvent{
	height: 125px;
	overflow: hidden;
	width: 100%;
}
.imgDefault{
	height: 100px;
}
.event h3{
	font-size: 1em;
}
.event strong{
	font-size: 0.8em;
}


#loginForm{
	display: inline-block;
	margin-right: 20%;	
}
footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	z-index: -10;
	padding:10px;
}
footer a{
	margin-right: 20px;
}
input:-moz-placeholder{
	color:black;
}
input::-webkit-input-placeholder{
	color:black;
}

