#imgProfil{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	width: 40%;
	margin-top: 5%;
	border-radius: 5px;
	overflow: hidden;
	float: left;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}
#profilImg{
	max-height:300px;
	overflow: hidden;
}
#imgProfil img{
	width: 100%;
}
#noImgProfil{
	margin-top: 10%;
	margin-bottom: 10%;
}
#imgProfil p{
	padding: 10px;
}
#infoUser{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	width: 50%;
	margin-top: 5%;
	border-radius: 5px;
	overflow: hidden;
	float: right;
	background-color: rgba(0,0,0,0.8);
}
#infoUser h2{
	text-align: center;
}
#button button,#button select{
	margin-left: 5%;
}   
#textInfo{
	clear: both;
	padding: 5%;
}
#affiche{
	visibility: hidden;
}
#modifProfilInfo{
	clear: both;
	padding-top:2%;
	margin-left: 5%;
}
#imgProfil,#infoUser{
	margin-bottom: 5%;
}
#autre{
	clear: both;
	width: 90%;
	padding: 5%;
	padding-top: 1%;
	margin:auto;
	background-color: rgba(0,0,0,0.8);
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	border-radius: 5px;
}
#autre nav{
	text-align: center;
}
#autre ul{
	list-style-type: none;
}
#autre li{
	display: inline-block;
	padding: 2%;
	padding-top: 0%;
	padding-bottom: 0%;
	border-right: 1px solid white;
}
#autre li:first-child{
	border-left:1px solid white;
}
#autre a{
	font-size: 1.5em;
}
#autre a:hover{
	color: #2AACD9;
}
.souligner{
	color: #9bbef3;
	border-bottom: 1px solid #9bbef3;
}
#myFriends,#note,#moreInformation{
	margin-top: 2%;
}
#moreInformation{
	text-align: center;
}
#moreInformation p{
	padding:5px;
}
#myFriends,#note{
	display: none;
}
#modifProfilRegister{
	background-color: rgba(0,0,0,0.8);
	width: 50%;
	display: none;
	margin-top: 7%;
	margin-left: 15%;
	border-radius: 5px;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
#modifProfilRegister form{
	padding: 1%;
}
#modifProfilRegister img{
	width: 50%;
}
#modifProfilRegister input,#modifProfilRegister select{
	display: inline-block;
	width: 40%;
	margin-left: 0%;
	height: 30px;
	border:none;
	margin-top: 1%;
	border-radius: 2px;
	text-align: center;
}
#modifProfilRegister textarea{
	width: 40%;
	display: inline-block;
	margin-left: 0%;
	border:none;
	margin-top: 1%;
	border-radius: 2px;
	text-align: center;
	height: 100px;
}
.firstTextarea{
	margin-left: 10%;
}
#modifButton{
	width: 100%;
	text-align: center;
}
#delete{
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
	padding: 1%;
	margin-top: 10%;
	position: absolute;
	width: 50%;
	overflow: hidden;
	background-color: #000F1C;
	margin-left: 14%;
	border-radius: 5px;
	text-align: center;
	display: none;
}
#delete strong{
	width: 100%;
	display: block;
}
#delete input{
	border: none;
	height: 35px;
	display: block;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2%;
	text-align: center;
}
#newPass{
	display: none;
}
#newPass input{
	display: block;
	height: 30px;
	border:none;
	margin-top: 1%;
	border-radius: 2px;
	text-align: center;
}
#newPass button{
	margin-left: 1%;
}
#no-avatar{
	padding: 5%;
	padding-top: 10%;
}
.friend{
	margin-top: 4%;
	margin-left: 10%;
}
.listFriend{
	margin-top: 2%;
	width: 40%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin-right: 5%;
}
.listFriend p{
	float: right;
	font-size: 0.7em;
	width: 50%;
	padding:5%;
}
.afficheFriend{
	width: 40%;
	height: 100px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.afficheFriend img{
	width: 100%;
}
.no-avatar{
	margin-top: 5%;
}